{% load static %}
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center g-0 border-top py-2">
            <!-- Desc -->
            <div class="col-md-6 col-12 text-center text-md-start">
                <span>© <span id="copyright">
                    <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))

                    </script>
                </span>QuicKLearn. All Rights Reserved.</span>
            </div>
              <!-- Links -->
            <div class="col-12 col-md-6">
                <nav class="nav nav-footer justify-content-center justify-content-md-end">
                    <a class="nav-link active ps-0" href="#">Privacy</a>
                    <a class="nav-link" href="#">Terms </a>
                    <a class="nav-link" href="#">Feedback</a>
                    <a class="nav-link" href="#">Support</a>
                </nav>
            </div>
        </div>
    </div>
</footer>
<script src="../static/assets/libs/file-upload-with-preview/dist/file-upload-with-preview.iife.js"></script>
<script src="../static/assets/libs/%40yaireo/tagify/dist/tagify.min.js"></script>




<!-- Libs JS -->
<script src="../static/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/libs/simplebar/dist/simplebar.min.js"></script>


<!-- Theme JS -->
<script src="../static/assets/js/theme.min.js"></script>


<script src="../static/assets/libs/quill/dist/quill.min.js"></script>
<script src="../static/assets/libs/dragula/dist/dragula.min.js"></script>
<script src="../static/assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../static/assets/libs/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script src="../static/assets/js/vendors/beStepper.js"></script>
<script src="../static/assets/js/vendors/customDragula.js"></script>
<script src="../static/assets/js/vendors/editor.js"></script>
<script src="../static/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="../static/assets/js/vendors/popup.js"></script>    

