{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid px-100">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'assets/images/brand/logo/quicklearn.svg' %}"
                alt="" class="" ></a>
        <!-- Mobile view nav wrap -->

<div class="ms-auto d-flex align-items-center order-lg-3">

    <div>
            <a href="#" class="form-check form-switch theme-switch btn btn-light btn-icon rounded-circle me-2">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                </a>
            </div>
        <a href="{% url 'signin' %}" class="btn btn-outline-primary shadow-sm me-2">Sign In</a>
        <a href="{% url 'signup' %}" class="btn btn-primary d-none d-md-block">Sign Up</a>


            

            </div>
        <div>
                <!-- Button -->
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="icon-bar top-bar mt-0"></span>
    <span class="icon-bar middle-bar"></span>
    <span class="icon-bar bottom-bar"></span>
    </button>
    </div>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbar-default">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'index' %}" id="navbarBrowse" 
                        aria-haspopup="true" aria-expanded="false" >
                        Home
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'about' %}" id="navbarLanding" 
                        aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                </li>
        <li class="nav-item ">
                    <a class="nav-link " href="{% url 'contact' %}" id="navbarLanding" 
                        aria-haspopup="true" aria-expanded="false">
                        Contact
                    </a>
                </li>
      
            </ul>
        </div>

    </div>
</nav>